:root {
    --light: #40e4c6;
    --green: #005714;
    --medium: #40e4c6;
    --dark-blue: #000014;
    --honeydew: honeydew;
    --white: #ffffff;
    --glass: rgb(255, 255, 255, 0.2);
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-content {
    margin: 1.5rem 0;
    width: 100%;
    padding: 0 20px;
}
section{
    padding: 0 20px;
}
.main-content .title {
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
}
.main-content .title h2 {
    color: var(--medium);
}
.main-content .title p {
    color: var(--light);
    padding-bottom: 1rem;
}
.main-content .input-box{
    width: 100%;
    padding: 11px 13px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    background: var(--glass);
}
.main-content .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content .notFound button {
    padding: 9px 11px;
    margin: 0 10px;
    outline: none;
    background-color: var(--medium);
    border-radius: 7px;
    cursor: pointer;
}
.main-content .notFound button:hover {
    background-color: var(--light);
}
.main-content .loading {
    margin-top: 1rem;
}
::placeholder {
    font-size: 14px;
}
.article {
    padding: 2rem 0;
}
.article .img-box img{
    max-width: 100%;
    border-radius: 10px;
}
.article .news {
    padding: 2rem 0;
}
.news .article-title {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
.news a img {
    border-radius: 10px;
}
.news .article-title:hover{
    color: var(--medium);
    text-decoration: underline;
}
.news time{
    color: var(--light);
}
.home-news {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
@media (max-width: 768px) {
    .main-content .notFound {
        flex-direction: column;
    }
    .main-content .notFound button {
        margin: 13px 0;
    }
}