@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: var(--dark-blue);
}
:root {
    --light: #40e4c6;
    --green: #005714;
    --medium: #40e4c6;
    --dark-blue: #000014;
    --honeydew: honeydew;
    --glass: rgb(255, 255, 255, 0.2);
}
.App{
    width: 80%;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
}
.App .navbar {
    height: 70px;
    display: flex;
    align-items: center;
    position: relative;
    color: var(--light);
}
.App .navbar .navbar-item{
    margin-left: auto;
}
.App .navbar .nav-item {
    text-decoration: none;
    color: var(--medium);
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    width: 100%;
    padding: 10px 13px;
}
.App .navbar .nav-active {
    text-decoration: none;
    color: var(--light);
    background: var(--glass);
    font-weight: bold;
    padding: 10px 13px;
    font-size: 17px;
    margin-left: 15px;
    border-radius: 10px;
}
.App .navbar .home-btn {
    text-decoration: none;
    color: var(--lig);
    font-size: 25px;
    padding: 0 13px;
}
.App .navbar .hamburger {
    border: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: var(--glass);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: none;
}
/* Mobile Version */
@media (max-width: 768px) {
    .App {
        width: 100%;
    }
    .App .navbar .hamburger {
        display: block;
    }
    .App .navbar .home-btn {
        font-size: 32px;
    }
    .App .navbar .navbar-item .navbar-list {
        position: absolute;
        top: 70px;
        left: 0;
        padding: 13px;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 63.5vh);
        background-color: var(--dark-blue);
        display: none;
    }
    .App .navbar .navbar-item.expanded .navbar-list {
        display: block;
    }
    .App .navbar .navbar-item .nav-item,
    .App .navbar .navbar-item .nav-active {
        max-width: 100%;
        margin: 0 0 15px 0;
        display: flex;
    }
}